#
# Configuration file for the Xen instance workstation, created
# by xen-tools 4.4 on Wed Jul 30 22:59:22 2014.
#

#
#  Kernel + memory size
#


bootloader = '/usr/lib/xen-4.4/bin/pygrub'

vcpus       = '1'
memory      = '128'


#
#  Disk device(s).
#
root        = '/dev/xvda2 ro'
disk        = [
                  'file:/home/min/xenvm/domains/workstation/disk.img,xvda2,w',
                  'file:/home/min/xenvm/domains/workstation/swap.img,xvda1,w',
              ]


#
#  Physical volumes
#


#
#  Hostname
#
name        = 'workstation'

#
#  Networking
#
ip          = "10.80.104.253"
netmask     = "255.255.255.0"
gateway     = "10.80.104.1"
vif         = [ 'mac=00:16:3E:F1:2C:93, bridge=br0' ]

vnc         = 1
vncconsole  = 1
#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'



